# Values used for the sample scripts


# Server URL with instance name
SERVER_URL=https://epicor-server/epicor101test
# Credentials
USERNAME=John Smith
PASSWORD=Secret123!
# Specify to skip SSL certificate validation
SKIP_CERT_VERIFICATION=true
